<div [ngClass]="{'container': statusPantalla <= 10}">

    <!-- <div class="card">
        <div class="card-header text-uppercase">Products</div>
        <span class="lstick"></span>
        <div class="card-body">
            <p>Products Works!!</p>
            This is some text within a card body.
        </div>
    </div> -->

    <p-card header="Products">
        <hr>
        <label>Products Works!!</label>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quo voluptas rerum quidem reprehenderit ipsa veniam eaque aliquid. Consequuntur ex quod illo eaque nihil excepturi voluptatem nam, quae hic culpa?</p>
    </p-card>

</div>
