<div [ngClass]="{'container': statusPantalla <= 10}">

    <!-- <div class="card">
        <div class="card-header text-uppercase">Messages</div>
        <span class="lstick"></span>
        <div class="card-body">
            <p>Messages Works!!</p>
            This is some text within a card body.
        </div>
    </div> -->

    <p-card header="Messages">
        <hr>
        <label>Messages Works!!</label>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore autem aspernatur, iusto a temporibus nisi soluta nostrum molestiae pariatur quas minus quae perspiciatis odio itaque ipsum ea harum doloribus dicta.</p>
    </p-card>

</div>
