::ng-deep .ui-card {
    height: calc(100vh - 93px);
    background: var(--color-white) !important;
    color: var(--color-dark) !important;
}

@media screen and (max-width: 768px) {
     ::ng-deep .ui-card {
        height: calc(100vh - 100px);
    }
}
