<div [ngClass]="{'container': statusPantalla <= 10}">

    <!-- <div class="card">
        <div class="card-header text-uppercase">Customers</div>
        <span class="lstick"></span>
        <div class="card-body">
            <p>Customers Works!!</p>
            This is some text within a card body.
        </div>
    </div> -->

    <p-card header="Customers" [style]="{ height: 'calc(100vh - 90px)', background: 'var(--color-white)', color: 'var(--color-dark)'}">
        <hr>
        <p>Customers Works!!</p>
        <br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus est praesentium ad mollitia vitae vel eos dolore magni! Dolore veritatis quod dicta mollitia totam eveniet possimus sint sed optio at?</p>
    </p-card>

</div>
