<div [ngClass]="{'container': statusPantalla <= 10}">

    <!-- <div class="card">
        <div class="card-header text-uppercase">Settings</div>
        <span class="lstick"></span>
        <div class="card-body">
            <p>Settings Works!!</p>
            This is some text within a card body.
        </div>
    </div> -->

    <p-card header="Settings" [style]="{ height: 'calc(100vh - 90px)', background: 'var(--color-white)', color: 'var(--color-dark)'}">
        <hr>
        <p>Settings Works!!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus officiis, ratione veniam sint aut sapiente nulla dolores consectetur nobis. Corporis maiores, rerum dicta officia voluptate placeat blanditiis aliquam optio quae!</p>
    </p-card>

</div>
