<div [ngClass]="{'container': statusPantalla <= 10}">

    <!-- <div class="card">
        <div class="card-header text-uppercase">Add Product</div>
        <span class="lstick"></span>
        <div class="card-body">
            <p>Add Product Works!!</p>
            This is some text within a card body.
        </div>
    </div> -->

    <p-card header="Add Product" [style]="{ height: 'calc(100vh - 90px)', background: 'var(--color-white)', color: 'var(--color-dark)'}">
        <hr>
        <label>Add Product Works!!</label>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam iure atque voluptate aut eaque recusandae minima error vel tempore possimus repellat, ab ipsa quasi dolorem maiores nobis a laborum labore?</p>
    </p-card>

</div>
