<div [ngClass]="{'container': statusPantalla <= 10}">

    <!-- <div class="card">
        <div class="card-header text-uppercase">Analytics</div>
        <span class="lstick"></span>
        <div class="card-body">
            <p>Analytics component Works!!</p>
            This is some text within a card body.
        </div>
    </div> -->

    <p-card header="Analytics" [style]="{ height: 'calc(100vh - 90px)', background: 'var(--color-white)', color: 'var(--color-dark)'}">
        <hr>
        <label>Analytics component Works!!</label>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem facere cumque, magni accusantium rerum impedit nostrum maxime, ad aliquid eius expedita fugiat officia fuga laborum, praesentium beatae modi. Saepe.</p>
    </p-card>

</div>
